# Hello World

In [8]:
# printing my first message
print("Hello wolrd!")

Hello wolrd!

# Data types

In [13]:
type({1,2,3})

set

In [19]:
print("Hello World".upper())
print("Hello World".lower())
print("Hello World".title())
print("Hello World".count('l'))

HELLO WORLD
hello world
Hello World
3

# Variables

In [20]:
message_1 = "I'm learning python!"

In [21]:
message_1

"I'm learning python!"

In [22]:
message_2 = "and its fine"

In [23]:
message_2

'and its fine'

In [25]:
message_1 + ' ' + message_2

"I'm learning python! and its fine"

In [26]:
f'Hello World!'

'Hello World!'

In [27]:
f'{message_1}'

"I'm learning python!"

In [28]:
f'{message_1} {message_2}'

"I'm learning python! and its fine"

In [29]:
f'{message_1} random text {message_2}'

"I'm learning python! random text and its fine"

# Lists

In [3]:
# lists can have elements of different types and duplicated elements
countries = ['United States', 'India', 'China', 'Brazil', 'United States']

In [4]:
countries

['United States', 'India', 'China', 'Brazil', 'United States']

In [48]:
countries = ['United States', 'India', 'China', 'Brazil']

In [40]:
# each item has an index, and is zero-based index
countries[0]

'United States'

In [41]:
print(countries[0])
print(countries[1])
print(countries[2])
print(countries[3])

United States
India
China
Brazil

In [44]:
print(countries[0])
print(countries[1])
print(countries[2])
print(countries[3])
print(countries[4])

United States
India
China
Brazil

IndexError: list index out of range

In [45]:
print(countries[-1])

Brazil

In [50]:
# slicing. Subsets of a list elements
#list_name[start:stop] stop not included
countries[1:3]

['India', 'China']

In [52]:
countries[:2]

['United States', 'India']

## Adding elements to a list

In [53]:
countries

['United States', 'India', 'China', 'Brazil']

In [54]:
countries.append('Chile')

In [55]:
countries

['United States', 'India', 'China', 'Brazil', 'Chile']

In [56]:
countries.insert(1,'Spain')

In [57]:
countries

['United States', 'Spain', 'India', 'China', 'Brazil', 'Chile']

In [58]:
countries_2 = ['UK', 'Rusia', 'Belgium']

In [59]:
countries + countries_2

['United States',
 'Spain',
 'India',
 'China',
 'Brazil',
 'Chile',
 'UK',
 'Rusia',
 'Belgium']

In [60]:
nested_list = [countries, countries_2]

In [61]:
nested_list

[['United States', 'Spain', 'India', 'China', 'Brazil', 'Chile'],
 ['UK', 'Rusia', 'Belgium']]

## Removing elements from a list

In [5]:
countries

['United States', 'India', 'China', 'Brazil', 'United States']

In [6]:
countries.pop(-1)

'United States'

In [7]:
countries

['United States', 'India', 'China', 'Brazil']

del countries[0]

In [9]:
countries

['India', 'China', 'Brazil']

## Sorting a list

In [11]:
numbers = [0,4,2,6,7,23,98,4,12,3,1,0,34]

In [14]:
numbers.sort()

In [15]:
numbers

[0, 0, 1, 2, 3, 4, 4, 6, 7, 12, 23, 34, 98]

In [17]:
numbers.sort(reverse=True)

In [18]:
numbers

[98, 34, 23, 12, 7, 6, 4, 4, 3, 2, 1, 0, 0]

## Update a list element

In [19]:
numbers[0] = 100

In [20]:
numbers

[100, 34, 23, 12, 7, 6, 4, 4, 3, 2, 1, 0, 0]

## Copying a list

In [23]:
#if no start and end specified, it means the whole list
new_list = countries[:]

In [24]:
new_list

['India', 'China', 'Brazil']

In [26]:
new_list_2 = countries.copy()

In [27]:
new_list_2

['India', 'China', 'Brazil']

# Dictionary

In [28]:
my_dict = {'key1':'value1', 'key2':'value2'}

In [31]:
my_data = {'name':'Frank', 'age':26}

In [32]:
my_data

{'name': 'Frank', 'age': 26}

In [33]:
my_data.keys()

dict_keys(['name', 'age'])

In [34]:
my_data.values()

dict_values(['Frank', 26])

In [36]:
my_data.items()

dict_items([('name', 'Frank'), ('age', 26)])

## Adding another pair of key-value

In [37]:
my_data['height'] = 1.7

In [38]:
my_data

{'name': 'Frank', 'age': 26, 'height': 1.7}

## Updating dictionary

In [39]:
my_data.update({'height':1.8})

In [40]:
my_data

{'name': 'Frank', 'age': 26, 'height': 1.8}

## Copying dictionary

In [41]:
new_dict = my_data.copy()

In [42]:
new_dict

{'name': 'Frank', 'age': 26, 'height': 1.8}

## Remove elements from dictionaries

In [43]:
my_data

{'name': 'Frank', 'age': 26, 'height': 1.8}

In [44]:
my_data.pop('name')

'Frank'

In [45]:
my_data

{'age': 26, 'height': 1.8}

In [46]:
del my_data['height']

In [47]:
my_data

{'age': 26}

In [48]:
my_data.clear()

In [49]:
my_data

{}

# IF Statement

In [ ]:
if <condition>
    <code>
elif <condition>
    <code>
...
else:
    <code>

In [52]:
age = 18

if age >= 18:
    print("You are an adult!")
else:
    print("You are a kid")

You are an adult!

# For loop

In [ ]:
for <variable> in <iterable>
    <code>

In [53]:
countries

['India', 'China', 'Brazil']

In [54]:
for country in countries:
    print(country)

India
China
Brazil

In [57]:
for i, country in enumerate(countries):
    print(str(i) + ': ' + country)

0: India
1: China
2: Brazil

In [58]:
my_data

{}

In [61]:
my_data = {'key1':'value1', 'key2':'value2', 'key3':'value3'}

In [62]:
my_data

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}

In [63]:
for key, value in my_data.items():
    print(key)
    print(value)

key1
value1
key2
value2
key3
value3

# Function

In [ ]:
def function(<params>):
    <code>
    return <data>

In [64]:
def sum_values(a, b):
    x = a + b
    return x

In [65]:
sum_values(1, 3)

4

# Built-in functions

In [66]:
len(countries)

3

In [67]:
max([10, 34, 56, 3, 2, 5, 6, 45, 90, 0, 32])

90

In [68]:
min([10, 34, 56, 3, 2, 5, 6, 45, 90, 0, 32])

0

In [69]:
type(countries)

list

In [74]:
for i in range(1, 10, 2):
    print(i)

1
3
5
7
9

# Modules

In [ ]:
import

# OS Module

In [75]:
import os

In [76]:
os.getcwd()

'C:\\Users\\U2301020\\anaconda3\\cursos\\Data-Analysis-with-Python-for-Excel-Users'

In [77]:
os.listdir()

['.git', '.ipynb_checkpoints', 'Example.ipynb', 'LICENSE']

### os.mkdir

# Pandas

### Best tool for data analysis in python
Clean data, representation... like excel extends... bu outperform excel. Benefits:

-Limitation by size

-Complex data transformation

-Automation

-Crossplatform capabilities

In [78]:
import pandas as pd
import numpy as np

In [80]:
# creating an array
data = np.array([[1,4], [2,5], [3,6]])

In [85]:
# creating a dataframe
df = pd.DataFrame(data, index=['row1', 'row2', 'row3'], 
             columns=['col1', 'col2'])

In [86]:
# showing the dataframe
df

      col1  col2
row1     1     4
row2     2     5
row3     3     6

# Option 2

In [87]:
# creating an array
data = [[1,4], [2,5], [3,6]]

In [88]:
# creating a dataframe
df = pd.DataFrame(data, index=['row1', 'row2', 'row3'], 
             columns=['col1', 'col2'])

In [89]:
# showing the dataframe
df

      col1  col2
row1     1     4
row2     2     5
row3     3     6

# Creating a DataFrame from a dictionary

In [90]:
# lists used for this example
states = ['California', 'Texas', 'California', 'New York']
population = [39613493, 29730311, 21944577, 19299981]

In [96]:
# sorting lists within dictionary
dict_states = {'States':states, 'Population':population}

In [98]:
# Creating the dataframe
df_population = pd.DataFrame(dict_states)

In [99]:
# showing the dataframe
df_population

       States  Population
0  California    39613493
1       Texas    29730311
2  California    21944577
3    New York    19299981

# Creating a dataframe from csv file

In [100]:
# reading csv file
df_exams = pd.read_csv('StudentsPerformance.csv')

In [101]:
# show first 5 rows in dataframe
df_exams.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [102]:
df_exams

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

# How to display a dataframe in Panda's

In [103]:
import pandas as pd

In [104]:
# reading the csv file
df_exams = pd.read_csv('StudentsPerformance.csv')

In [105]:
# show first 5 rows in dataframe
df_exams.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [106]:
# show last 5 rows in a dataframe
df_exams.tail()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [108]:
# show last n rows in a dataframe
df_exams.tail(10)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
990,male,group E,high school,free/reduced,completed,86,81,75
991,female,group B,some high school,standard,completed,65,82,78
992,female,group D,associate's degree,free/reduced,none,55,76,76
993,female,group D,bachelor's degree,free/reduced,none,62,72,74
994,male,group A,high school,standard,none,63,63,62
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [109]:
# getting access to the shape attribute - easy  way to know number of columns
# -rows and -Columns
df_exams.shape

(1000, 8)

In [110]:
# display n rows
pd.set_option('display.max_rows', 1000)

In [111]:
df_exams

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
5,female,group B,associate's degree,standard,none,71,83,78
6,female,group B,some college,standard,completed,88,95,92
7,male,group B,some college,free/reduced,none,40,43,39
8,male,group D,high school,free/reduced,completed,64,64,67
9,female,group B,high school,free/reduced,none,38,60,50
10,male,group C,associate's degree,standard,none,58,54,52
11,male,group D,associate's degree,standard,none,40,52,43
12,female,group B,high school,standard,none,65,81,73
13,male,group A,some college,standard,completed,78,72,70
14,female,group A,master's degree,standard,none,50,53,58
15,female,group C,some high school,standard,none,69,75,78
16,male,group C,high school,standard,none,88,89,86
17,female,group B,some high school,free/reduced,none,18,32,28
18,male,group C,master's degree,free/reduced,completed,46,42,46
19,female,group C,associate's degree,free/reduced,none,54,58,61
20,male,group D,high school,standard,none,66,69,63
21,female,group B,some college,free/reduced,completed,65,75,70
22,male,group D,some college,standard,none,44,54,53
23,female,group C,some high school,standard,none,69,73,73
24,male,group D,bachelor's degree,free/reduced,completed,74,71,80
25,male,group A,master's degree,free/reduced,none,73,74,72
26,male,group B,some college,standard,none,69,54,55
27,female,group C,bachelor's degree,standard,none,67,69,75
28,male,group C,high school,standard,none,70,70,65
29,female,group D,master's degree,standard,none,62,70,75
30,female,group D,some college,standard,none,69,74,74
31,female,group B,some college,standard,none,63,65,61
32,female,group E,master's degree,free/reduced,none,56,72,65
33,male,group D,some college,standard,none,40,42,38
34,male,group E,some college,standard,none,97,87,82
35,male,group E,associate's degree,standard,completed,81,81,79
36,female,group D,associate's degree,standard,none,74,81,83
37,female,group D,some high school,free/reduced,none,50,64,59
38,female,group D,associate's degree,free/reduced,completed,75,90,88
39,male,group B,associate's degree,free/reduced,none,57,56,57
40,male,group C,associate's degree,free/reduced,none,55,61,54
41,female,group C,associate's degree,standard,none,58,73,68
42,female,group B,associate's degree,standard,none,53,58,65
43,male,group B,some college,free/reduced,completed,59,65,66
44,female,group E,associate's degree,free/reduced,none,50,56,54
45,male,group B,associate's degree,standard,none,65,54,57
46,female,group A,associate's degree,standard,completed,55,65,62
47,female,group C,high school,standard,none,66,71,76
48,female,group D,associate's degree,free/reduced,completed,57,74,76
49,male,group C,high school,standard,completed,82,84,82
50,male,group E,some college,standard,none,53,55,48
51,male,group E,associate's degree,free/reduced,completed,77,69,68
52,male,group C,some college,standard,none,53,44,42
53,male,group D,high school,standard,none,88,78,75
54,female,group C,some high school,free/reduced,completed,71,84,87
55,female,group C,high school,free/reduced,none,33,41,43
56,female,group E,associate's degree,standard,completed,82,85,86
57,male,group D,associate's degree,standard,none,52,55,49
58,male,group D,some college,standard,completed,58,59,58
59,female,group C,some high school,free/reduced,none,0,17,10
60,male,group E,bachelor's degree,free/reduced,completed,79,74,72
61,male,group A,some high school,free/reduced,none,39,39,34
62,male,group A,associate's degree,free/reduced,none,62,61,55
63,female,group C,associate's degree,standard,none,69,80,71
64,female,group D,some high school,standard,none,59,58,59
65,male,group B,some high school,standard,none,67,64,61
66,male,group D,some high school,free/reduced,none,45,37,37
67,female,group C,some college,standard,none,60,72,74
68,male,group B,associate's degree,free/reduced,none,61,58,56
69,female,group C,associate's degree,standard,none,39,64,57
70,female,group D,some college,free/reduced,completed,58,63,73
71,male,group D,some college,standard,completed,63,55,63
72,female,group A,associate's degree,free/reduced,none,41,51,48
73,male,group C,some high school,free/reduced,none,61,57,56
74,male,group C,some high school,standard,none,49,49,41
75,male,group B,associate's degree,free/reduced,none,44,41,38
76,male,group E,some high school,standard,none,30,26,22
77,male,group A,bachelor's degree,standard,completed,80,78,81
78,female,group D,some high school,standard,completed,61,74,72
79,female,group E,master's degree,standard,none,62,68,68
80,female,group B,associate's degree,standard,none,47,49,50
81,male,group B,high school,free/reduced,none,49,45,45
82,male,group A,some college,free/reduced,completed,50,47,54
83,male,group E,associate's degree,standard,none,72,64,63
84,male,group D,high school,free/reduced,none,42,39,34
85,female,group C,some college,standard,none,73,80,82
86,female,group C,some college,free/reduced,none,76,83,88
87,female,group D,associate's degree,standard,none,71,71,74
88,female,group A,some college,standard,none,58,70,67
89,female,group D,some high school,standard,none,73,86,82
90,female,group C,bachelor's degree,standard,none,65,72,74
91,male,group C,high school,free/reduced,none,27,34,36
92,male,group C,high school,standard,none,71,79,71
93,male,group C,associate's degree,free/reduced,completed,43,45,50
94,female,group B,some college,standard,none,79,86,92
95,male,group C,associate's degree,free/reduced,completed,78,81,82
96,male,group B,some high school,standard,completed,65,66,62
97,female,group E,some college,standard,completed,63,72,70
98,female,group D,some college,free/reduced,none,58,67,62
99,female,group D,bachelor's degree,standard,none,65,67,62
100,male,group B,some college,standard,none,79,67,67
101,male,group D,bachelor's degree,standard,completed,68,74,74
102,female,group D,associate's degree,standard,none,85,91,89
103,male,group B,high school,standard,completed,60,44,47
104,male,group C,some college,standard,completed,98,86,90
105,female,group C,some college,standard,none,58,67,72
106,female,group D,master's degree,standard,none,87,100,100
107,male,group E,associate's degree,standard,completed,66,63,64
108,female,group B,associate's degree,free/reduced,none,52,76,70
109,female,group B,some high school,standard,none,70,64,72
110,female,group D,associate's degree,free/reduced,completed,77,89,98
111,male,group C,high school,standard,none,62,55,49
112,male,group A,associate's degree,standard,none,54,53,47
113,female,group D,some college,standard,none,51,58,54
114,female,group E,bachelor's degree,standard,completed,99,100,100
115,male,group C,high school,standard,none,84,77,74
116,female,group B,bachelor's degree,free/reduced,none,75,85,82
117,female,group D,bachelor's degree,standard,none,78,82,79
118,female,group D,some high school,standard,none,51,63,61
119,female,group C,some college,standard,none,55,69,65
120,female,group C,bachelor's degree,standard,completed,79,92,89
121,male,group B,associate's degree,standard,completed,91,89,92
122,female,group C,some college,standard,completed,88,93,93
123,male,group D,high school,free/reduced,none,63,57,56
124,male,group E,some college,standard,none,83,80,73
125,female,group B,high school,standard,none,87,95,86
126,male,group B,some high school,standard,none,72,68,67
127,male,group D,some college,standard,completed,65,77,74
128,male,group D,master's degree,standard,none,82,82,74
129,female,group A,bachelor's degree,standard,none,51,49,51
130,male,group D,master's degree,standard,none,89,84,82
131,male,group C,some high school,free/reduced,completed,53,37,40
132,male,group E,some college,free/reduced,completed,87,74,70
133,female,group C,some college,standard,completed,75,81,84
134,male,group D,bachelor's degree,free/reduced,completed,74,79,75
135,male,group C,bachelor's degree,standard,none,58,55,48
136,male,group B,some high school,standard,completed,51,54,41
137,male,group E,high school,standard,none,70,55,56
138,female,group C,associate's degree,standard,none,59,66,67
139,male,group D,some college,standard,completed,71,61,69
140,female,group D,some high school,standard,none,76,72,71
141,female,group C,some college,free/reduced,none,59,62,64
142,female,group E,some college,free/reduced,completed,42,55,54
143,male,group A,high school,standard,none,57,43,47
144,male,group D,some college,standard,none,88,73,78
145,female,group C,some college,free/reduced,none,22,39,33
146,male,group B,some high school,standard,none,88,84,75
147,male,group C,associate's degree,free/reduced,none,73,68,66
148,female,group D,bachelor's degree,standard,completed,68,75,81
149,male,group E,associate's degree,free/reduced,completed,100,100,93
150,male,group A,some high school,standard,completed,62,67,69
151,male,group A,bachelor's degree,standard,none,77,67,68
152,female,group B,associate's degree,standard,completed,59,70,66
153,male,group D,bachelor's degree,standard,none,54,49,47
154,male,group D,some high school,standard,none,62,67,61
155,female,group C,some college,standard,completed,70,89,88
156,female,group E,high school,free/reduced,completed,66,74,78
157,male,group B,some college,free/reduced,none,60,60,60
158,female,group B,associate's degree,standard,completed,61,86,87
159,male,group D,associate's degree,free/reduced,none,66,62,64
160,male,group B,associate's degree,free/reduced,completed,82,78,74
161,female,group E,some college,free/reduced,completed,75,88,85
162,male,group B,master's degree,free/reduced,none,49,53,52
163,male,group C,high school,standard,none,52,53,49
164,female,group E,master's degree,standard,none,81,92,91
165,female,group C,bachelor's degree,standard,completed,96,100,100
166,male,group C,high school,free/reduced,completed,53,51,51
167,female,group B,master's degree,free/reduced,completed,58,76,78
168,female,group B,high school,standard,completed,68,83,78
169,female,group C,some college,free/reduced,completed,67,75,70
170,male,group A,high school,standard,completed,72,73,74
171,male,group E,some high school,standard,none,94,88,78
172,female,group D,some college,standard,none,79,86,81
173,female,group C,associate's degree,standard,none,63,67,70
174,female,group C,bachelor's degree,free/reduced,completed,43,51,54
175,female,group C,master's degree,standard,completed,81,91,87
176,female,group B,high school,free/reduced,completed,46,54,58
177,female,group C,associate's degree,standard,completed,71,77,77
178,female,group B,master's degree,free/reduced,completed,52,70,62
179,female,group D,some high school,standard,completed,97,100,100
180,male,group C,master's degree,free/reduced,completed,62,68,75
181,female,group C,some college,free/reduced,none,46,64,66
182,female,group E,high school,standard,none,50,50,47
183,female,group D,associate's degree,standard,none,65,69,70
184,male,group C,some high school,free/reduced,completed,45,52,49
185,male,group C,associate's degree,free/reduced,completed,65,67,65
186,male,group E,high school,standard,none,80,76,65
187,male,group D,some high school,standard,completed,62,66,68
188,male,group B,some high school,free/reduced,none,48,52,45
189,female,group C,bachelor's degree,standard,none,77,88,87
190,female,group E,associate's degree,standard,none,66,65,69
191,male,group D,some college,standard,completed,76,83,79
192,female,group B,some high school,standard,none,62,64,66
193,male,group D,some college,standard,completed,77,62,62
194,female,group C,master's degree,standard,completed,69,84,85
195,male,group D,associate's degree,standard,none,61,55,52
196,male,group C,some high school,free/reduced,completed,59,69,65
197,male,group E,high school,free/reduced,none,55,56,51
198,female,group B,some college,free/reduced,none,45,53,55
199,female,group B,bachelor's degree,free/reduced,none,78,79,76
200,female,group C,associate's degree,standard,completed,67,84,86
201,female,group D,some college,free/reduced,none,65,81,77
202,male,group C,associate's degree,standard,none,69,77,69
203,female,group B,associate's degree,standard,none,57,69,68
204,male,group C,some college,standard,none,59,41,42
205,male,group D,some high school,standard,completed,74,71,78
206,male,group E,bachelor's degree,standard,none,82,62,62
207,male,group E,high school,standard,completed,81,80,76
208,female,group B,some college,free/reduced,none,74,81,76
209,female,group B,some college,free/reduced,none,58,61,66
210,male,group D,some high school,free/reduced,completed,80,79,79
211,male,group C,some college,free/reduced,none,35,28,27
212,female,group C,high school,free/reduced,none,42,62,60
213,male,group C,associate's degree,free/reduced,completed,60,51,56
214,male,group E,high school,standard,completed,87,91,81
215,male,group B,some high school,standard,completed,84,83,75
216,female,group E,associate's degree,free/reduced,completed,83,86,88
217,female,group C,high school,free/reduced,none,34,42,39
218,male,group B,high school,free/reduced,none,66,77,70
219,male,group B,some high school,standard,completed,61,56,56
220,female,group D,high school,standard,completed,56,68,74
221,male,group B,associate's degree,standard,none,87,85,73
222,female,group C,some high school,free/reduced,none,55,65,62
223,male,group D,some high school,standard,none,86,80,75
224,female,group B,associate's degree,standard,completed,52,66,73
225,female,group E,master's degree,free/reduced,none,45,56,54
226,female,group C,some college,standard,none,72,72,71
227,male,group D,high school,standard,none,57,50,54
228,male,group A,some high school,free/reduced,none,68,72,64
229,female,group C,some college,standard,completed,88,95,94
230,male,group D,some college,standard,none,76,64,66
231,male,group C,associate's degree,standard,none,46,43,42
232,female,group B,bachelor's degree,standard,none,67,86,83
233,male,group E,some high school,standard,none,92,87,78
234,male,group C,bachelor's degree,standard,completed,83,82,84
235,male,group D,associate's degree,standard,none,80,75,77
236,male,group D,bachelor's degree,free/reduced,none,63,66,67
237,female,group D,some high school,standard,completed,64,60,74
238,male,group B,some college,standard,none,54,52,51
239,male,group C,associate's degree,standard,none,84,80,80
240,male,group D,high school,free/reduced,completed,73,68,66
241,female,group E,bachelor's degree,standard,none,80,83,83
242,female,group D,high school,standard,none,56,52,55
243,male,group E,some college,standard,none,59,51,43
244,male,group D,some high school,standard,none,75,74,69
245,male,group C,associate's degree,standard,none,85,76,71
246,male,group E,associate's degree,standard,none,89,76,74
247,female,group B,high school,standard,completed,58,70,68
248,female,group B,high school,standard,none,65,64,62
249,male,group C,high school,standard,none,68,60,53
250,male,group A,some high school,standard,completed,47,49,49
251,female,group D,some college,free/reduced,none,71,83,83
252,female,group B,some high school,standard,completed,60,70,70
253,male,group D,master's degree,standard,none,80,80,72
254,male,group D,high school,standard,none,54,52,52
255,female,group E,some college,standard,none,62,73,70
256,female,group C,associate's degree,free/reduced,none,64,73,68
257,male,group C,associate's degree,standard,completed,78,77,77
258,female,group B,some college,standard,none,70,75,78
259,female,group C,master's degree,free/reduced,completed,65,81,81
260,female,group C,some high school,free/reduced,completed,64,79,77
261,male,group C,some college,standard,completed,79,79,78
262,female,group C,some high school,free/reduced,none,44,50,51
263,female,group E,high school,standard,none,99,93,90
264,male,group D,high school,standard,none,76,73,68
265,male,group D,some high school,free/reduced,none,59,42,41
266,female,group C,bachelor's degree,standard,none,63,75,81
267,female,group D,high school,standard,none,69,72,77
268,female,group D,associate's degree,standard,completed,88,92,95
269,female,group E,some college,free/reduced,none,71,76,70
270,male,group C,bachelor's degree,standard,none,69,63,61
271,male,group C,some college,standard,none,58,49,42
272,female,group D,associate's degree,free/reduced,none,47,53,58
273,female,group D,some college,standard,none,65,70,71
274,male,group B,some college,standard,completed,88,85,76
275,male,group C,bachelor's degree,standard,none,83,78,73
276,female,group C,some high school,standard,completed,85,92,93
277,female,group E,high school,standard,completed,59,63,75
278,female,group C,some high school,free/reduced,none,65,86,80
279,male,group B,bachelor's degree,free/reduced,none,73,56,57
280,male,group D,high school,standard,none,53,52,42
281,male,group D,high school,standard,none,45,48,46
282,female,group D,bachelor's degree,free/reduced,none,73,79,84
283,female,group D,some college,free/reduced,completed,70,78,78
284,female,group B,some high school,standard,none,37,46,46
285,male,group B,associate's degree,standard,completed,81,82,82
286,male,group E,associate's degree,standard,completed,97,82,88
287,female,group B,some high school,standard,none,67,89,82
288,male,group B,bachelor's degree,free/reduced,none,88,75,76
289,male,group E,some high school,standard,completed,77,76,77
290,male,group C,associate's degree,standard,none,76,70,68
291,male,group D,some high school,standard,none,86,73,70
292,male,group C,some high school,standard,completed,63,60,57
293,female,group E,bachelor's degree,standard,none,65,73,75
294,male,group D,high school,free/reduced,completed,78,77,80
295,male,group B,associate's degree,free/reduced,none,67,62,60
296,male,group A,some high school,standard,completed,46,41,43
297,male,group E,associate's degree,standard,completed,71,74,68
298,male,group C,high school,free/reduced,completed,40,46,50
299,male,group D,associate's degree,free/reduced,none,90,87,75
300,male,group A,some college,free/reduced,completed,81,78,81
301,male,group D,some high school,free/reduced,none,56,54,52
302,female,group C,associate's degree,standard,completed,67,84,81
303,male,group B,associate's degree,standard,none,80,76,64
304,female,group C,associate's degree,standard,completed,74,75,83
305,male,group A,some college,standard,none,69,67,69
306,male,group E,some college,standard,completed,99,87,81
307,male,group C,some high school,standard,none,51,52,44
308,female,group B,associate's degree,free/reduced,none,53,71,67
309,female,group D,high school,free/reduced,none,49,57,52
310,female,group B,associate's degree,standard,none,73,76,80
311,male,group B,bachelor's degree,standard,none,66,60,57
312,male,group D,bachelor's degree,standard,completed,67,61,68
313,female,group C,associate's degree,free/reduced,completed,68,67,69
314,female,group C,bachelor's degree,standard,completed,59,64,75
315,male,group C,high school,standard,none,71,66,65
316,female,group D,master's degree,standard,completed,77,82,91
317,male,group C,associate's degree,standard,none,83,72,78
318,male,group B,bachelor's degree,standard,none,63,71,69
319,female,group D,associate's degree,free/reduced,none,56,65,63
320,female,group C,high school,free/reduced,completed,67,79,84
321,female,group E,high school,standard,none,75,86,79
322,female,group C,some college,standard,none,71,81,80
323,female,group C,some high school,free/reduced,none,43,53,53
324,female,group C,high school,free/reduced,none,41,46,43
325,female,group C,some college,standard,none,82,90,94
326,male,group C,some college,standard,none,61,61,62
327,male,group A,some college,free/reduced,none,28,23,19
328,male,group C,associate's degree,standard,completed,82,75,77
329,female,group B,some high school,standard,none,41,55,51
330,male,group C,high school,standard,none,71,60,61
331,male,group C,associate's degree,standard,none,47,37,35
332,male,group E,associate's degree,standard,completed,62,56,53

# Basics attributes, methods and functions

## 1 Attributes

In [12]:
# getting access to the shape attribute
df_exams.shape

(1000, 8)

In [13]:
# getting access to the index attribute
df_exams.index

RangeIndex(start=0, stop=1000, step=1)

In [14]:
# getting access to the column attribute
df_exams.columns

Index(['gender', 'race/ethnicity', 'parental level of education', 'lunch',
       'test preparation course', 'math score', 'reading score',
       'writing score'],
      dtype='object')

In [112]:
# getting access to the index attribute
df_exams.index

RangeIndex(start=0, stop=1000, step=1)

In [113]:
# getting access to the column attribute
df_exams.columns

Index(['gender', 'race/ethnicity', 'parental level of education', 'lunch',
       'test preparation course', 'math score', 'reading score',
       'writing score'],
      dtype='object')

In [114]:
# datatype of each columns
df_exams.dtypes

gender                         object
race/ethnicity                 object
parental level of education    object
lunch                          object
test preparation course        object
math score                      int64
reading score                   int64
writing score                   int64
dtype: object

## 2 Methods

In [15]:
# display n rows
pd.set_option('display.max_rows', 10)

In [16]:
df_exams

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [17]:
# showing the first 5 columns 
df_exams.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [18]:
# showing the info of the dataframe
df_exams.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

In [19]:
# describing basic statistics of the dataframe
df_exams.describe()

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

# 3 Functions

In [20]:
# obtaining the length of the dataframe (number of columns)
len(df_exams)

1000

In [121]:
# obtaingin the highest index of the dataframe
max(df_exams.index)

999

In [122]:
# obtaining the lowest index of the dataframe
min(df_exams.index)

0

In [124]:
# obtainign the lowest index of the dataframe
type(df_exams)

pandas.core.frame.DataFrame

In [125]:
# rounding the values of the dataset
round(df_exams, 2)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

# 1 Selecting one column

## 1.1 Syntax 1

In [2]:
import pandas as pd

In [61]:
# reading the csv file
df_exams = pd.read_csv('StudentsPerformance.csv')
df_exams.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

# Selecting one column

In [21]:
# select a column with [] (preferred way to select a column)
df_exams['gender']

0      female
1      female
2      female
3        male
4        male
        ...
995    female
996      male
997    female
998    female
999    female
Name: gender, Length: 1000, dtype: object

In [6]:
# check out the data type of a column
type(df_exams['gender'])

pandas.core.series.Series

In [7]:
# series: attributes and methods
df_exams['gender'].index
df_exams['gender'].head()

0    female
1    female
2    female
3      male
4      male
Name: gender, dtype: object

# 1.2 Sintax 2

In [22]:
# select a column with
df_exams.gender

0      female
1      female
2      female
3        male
4        male
        ...
995    female
996      male
997    female
998    female
999    female
Name: gender, Length: 1000, dtype: object

In [24]:
# select a column with . (pitfalls)
df_exams.math score

SyntaxError: invalid syntax (3061062658.py, line 2)

In [26]:
 # select the same column using []
df_exams['math score']

0      72
1      69
2      90
3      47
4      76
       ..
995    88
996    62
997    59
998    68
999    77
Name: math score, Length: 1000, dtype: int64

# 1 Selecting two or more columns

In [28]:
# select 2 columns using []
df_exams[['gender', 'math score']]

     gender  math score
0    female          72
1    female          69
2    female          90
3      male          47
4      male          76
..      ...         ...
995  female          88
996    male          62
997  female          59
998  female          68
999  female          77

[1000 rows x 2 columns]

In [29]:
# check out the data type of the selection
type(df_exams[['gender', 'math score']])

pandas.core.frame.DataFrame

In [30]:
# select 2 columns using [[]]
df_exams[['gender', 'math score', 'reading score', 'writing score']]

     gender  math score  reading score  writing score
0    female          72             72             74
1    female          69             90             88
2    female          90             95             93
3      male          47             57             44
4      male          76             78             75
..      ...         ...            ...            ...
995  female          88             99             95
996    male          62             55             55
997  female          59             71             65
998  female          68             78             77
999  female          77             86             86

[1000 rows x 4 columns]

In [31]:
# we can't select 2 or more columns with the "."
df_exams.'gender', 'math score'

SyntaxError: invalid syntax (636409209.py, line 2)

# Adding a new column

In [32]:
df_exams.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

## 1.1 Adding a new columns with scalar value

In [34]:
# adding new column to dataframe
df_exams['language score'] = 70
df_exams.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,language score
0,female,group B,bachelor's degree,standard,none,72,72,74,70
1,female,group C,some college,standard,completed,69,90,88,70
2,female,group B,master's degree,standard,none,90,95,93,70
3,male,group A,associate's degree,free/reduced,none,47,57,44,70
4,male,group C,some college,standard,none,76,78,75,70

## 1.2 Adding a new columns with array
the data frame has 1000 rows, so we need to create an array with 1000 elemts

In [35]:
# import numpy
import numpy as np

In [36]:
# create an array of 1000 elements
np.arange(0, 1000)

array([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,
        13,  14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,
        26,  27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,
        39,  40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,
        52,  53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,
        65,  66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,
        78,  79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,
        91,  92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103,
       104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116,
       117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129,
       130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142,
       143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155,
       156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168,
       169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181,
       182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194,
       195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207,
       208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220,
       221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233,
       234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246,
       247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259,
       260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272,
       273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285,
       286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298,
       299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311,
       312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324,
       325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337,
       338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350,
       351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363,
       364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376,
       377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389,
       390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402,
       403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415,
       416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428,
       429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441,
       442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454,
       455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467,
       468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480,
       481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493,
       494, 495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505, 506,
       507, 508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519,
       520, 521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532,
       533, 534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545,
       546, 547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557, 558,
       559, 560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 570, 571,
       572, 573, 574, 575, 576, 577, 578, 579, 580, 581, 582, 583, 584,
       585, 586, 587, 588, 589, 590, 591, 592, 593, 594, 595, 596, 597,
       598, 599, 600, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610,
       611, 612, 613, 614, 615, 616, 617, 618, 619, 620, 621, 622, 623,
       624, 625, 626, 627, 628, 629, 630, 631, 632, 633, 634, 635, 636,
       637, 638, 639, 640, 641, 642, 643, 644, 645, 646, 647, 648, 649,
       650, 651, 652, 653, 654, 655, 656, 657, 658, 659, 660, 661, 662,
       663, 664, 665, 666, 667, 668, 669, 670, 671, 672, 673, 674, 675,
       676, 677, 678, 679, 680, 681, 682, 683, 684, 685, 686, 687, 688,
       689, 690, 691, 692, 693, 694, 695, 696, 697, 698, 699, 700, 701,
       702, 703, 704, 705, 706, 707, 708, 709, 710, 711, 712, 713, 714,
       715, 716, 717, 718, 719, 720, 721, 722, 723, 724, 725, 726, 727,
       728, 729, 730, 731, 732, 733, 734, 735, 736, 737, 738, 739, 740,
       741, 742, 743, 744, 745, 746, 747, 748, 749, 750, 751, 752, 753,
       754, 755, 756, 757, 758, 759, 760, 761, 762, 763, 764, 765, 766,
       767, 768, 769, 770, 771, 772, 773, 774, 775, 776, 777, 778, 779,
       780, 781, 782, 783, 784, 785, 786, 787, 788, 789, 790, 791, 792,
       793, 794, 795, 796, 797, 798, 799, 800, 801, 802, 803, 804, 805,
       806, 807, 808, 809, 810, 811, 812, 813, 814, 815, 816, 817, 818,
       819, 820, 821, 822, 823, 824, 825, 826, 827, 828, 829, 830, 831,
       832, 833, 834, 835, 836, 837, 838, 839, 840, 841, 842, 843, 844,
       845, 846, 847, 848, 849, 850, 851, 852, 853, 854, 855, 856, 857,
       858, 859, 860, 861, 862, 863, 864, 865, 866, 867, 868, 869, 870,
       871, 872, 873, 874, 875, 876, 877, 878, 879, 880, 881, 882, 883,
       884, 885, 886, 887, 888, 889, 890, 891, 892, 893, 894, 895, 896,
       897, 898, 899, 900, 901, 902, 903, 904, 905, 906, 907, 908, 909,
       910, 911, 912, 913, 914, 915, 916, 917, 918, 919, 920, 921, 922,
       923, 924, 925, 926, 927, 928, 929, 930, 931, 932, 933, 934, 935,
       936, 937, 938, 939, 940, 941, 942, 943, 944, 945, 946, 947, 948,
       949, 950, 951, 952, 953, 954, 955, 956, 957, 958, 959, 960, 961,
       962, 963, 964, 965, 966, 967, 968, 969, 970, 971, 972, 973, 974,
       975, 976, 977, 978, 979, 980, 981, 982, 983, 984, 985, 986, 987,
       988, 989, 990, 991, 992, 993, 994, 995, 996, 997, 998, 999])

In [37]:
# length of the array
len(np.arange(0, 1000))

1000

In [39]:
language_score = np.arange(0, 1000)
len(language_score)

1000

In [40]:
# adding a new column to dataframe with array
df_exams['language score'] = language_score

In [41]:
df_exams

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,language score,language socre
0,female,group B,bachelor's degree,standard,none,72,72,74,70,0
1,female,group C,some college,standard,completed,69,90,88,70,1
2,female,group B,master's degree,standard,none,90,95,93,70,2
3,male,group A,associate's degree,free/reduced,none,47,57,44,70,3
4,male,group C,some college,standard,none,76,78,75,70,4
...,...,...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95,70,995
996,male,group C,high school,free/reduced,none,62,55,55,70,996
997,female,group C,high school,free/reduced,completed,59,71,65,70,997
998,female,group D,some college,standard,completed,68,78,77,70,998
999,female,group D,some college,free/reduced,none,77,86,86,70,999

In [62]:
# create random integer numbers between 1 and 100
int_language_score = np.random.randint(1, 100, size=1000)

In [ ]:
# min value inclusive and high value exclusive

In [58]:
min (int_language_score)

1

In [59]:
max(int_language_score)

99

In [63]:
# adding a new column to dataframe with an array
df_exams['language score'] = int_language_score
df_exams

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,language score
0,female,group B,bachelor's degree,standard,none,72,72,74,13
1,female,group C,some college,standard,completed,69,90,88,35
2,female,group B,master's degree,standard,none,90,95,93,56
3,male,group A,associate's degree,free/reduced,none,47,57,44,80
4,male,group C,some college,standard,none,76,78,75,56
...,...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95,34
996,male,group C,high school,free/reduced,none,62,55,55,35
997,female,group C,high school,free/reduced,completed,59,71,65,42
998,female,group D,some college,standard,completed,68,78,77,41
999,female,group D,some college,free/reduced,none,77,86,86,92

In [66]:
# create random float numbers between 1 and 100
float_language_score = np.random.uniform(1, 100, size=1000)
float_language_score

array([21.74588066, 72.20233044, 82.56452001, 82.80157961, 19.20568048,
       27.06938999, 29.68421051, 78.55073301, 76.34890401, 16.36240558,
       86.67422386, 80.99610657, 55.32552209, 43.56822626, 83.87502268,
       40.05988134, 58.88710082, 73.3868789 , 39.04666847, 13.55705651,
       42.47467286, 46.12176879, 50.6415376 , 11.34452681, 36.08025501,
       98.5443511 , 48.76900887, 88.39202763, 52.17691181, 73.78244099,
       62.04075486, 18.07316578, 27.99090065, 57.94905189, 66.45435127,
       81.69971476, 74.59549014, 66.12180919, 79.18194471, 88.18573955,
       96.46439406, 58.90659757, 41.72859323, 66.12195155, 14.58353922,
       26.50828541, 55.75443848,  3.47551466, 17.78692936, 83.38273928,
       93.38240968, 70.98798007, 41.28707658, 45.02419229, 33.82475167,
       49.75938429, 89.70009843, 20.59673846, 50.95271549, 23.3023563 ,
       66.58403622, 90.75345467, 21.42735475, 37.10119862, 74.30916884,
       13.51455787, 22.43339393, 14.27503134, 81.14345676, 29.01831511,
       22.92555877,  2.28626333, 60.10850111, 79.29645571,  6.34400484,
       22.24889059, 15.55162044, 15.06506215, 98.06247643,  8.47949416,
       76.20207164, 14.22360884, 72.32576285, 36.27915336, 41.17550851,
       20.95344823, 48.28792446, 19.34378704, 79.82215642, 20.59913059,
        7.82534418, 90.38668127, 18.73756038, 33.87927649, 39.40318671,
       94.35694506, 89.03221261,  5.05148228, 27.02577223, 30.0991364 ,
       70.26901855, 25.84631109, 75.28012629, 11.66267471, 19.75615489,
        6.50139258, 81.61477368, 61.07523925, 62.49141633, 92.68236426,
       62.27973478,  7.29599306, 37.38411356, 12.68990858, 45.41772649,
       29.46406458, 78.15120824, 43.00991499, 31.47243087, 68.45767424,
       30.68001233, 29.86273442, 74.85532726, 56.98150118, 24.63917279,
       61.9011083 , 92.05689014, 34.4975706 , 69.31475724, 90.7752843 ,
       54.98669014, 13.03609635, 39.57775294, 79.87141769, 81.8688989 ,
       70.95870172, 22.93081181, 24.98081564, 10.11219227, 96.89469221,
       48.20752797, 63.91570813, 65.2069717 , 70.54464561, 51.55828263,
        3.1304185 , 90.92246888, 93.07208959, 42.78012253, 53.55903464,
       65.94861711, 99.93188995, 15.8547073 , 10.04151505, 97.72871499,
       50.68757584, 60.69652262, 11.97120031, 73.98684462, 11.61004544,
       60.53616587, 21.05243268, 33.19237863, 70.65124673, 89.47960132,
       32.21600024, 29.4309232 , 65.53002107, 21.34825734, 98.65238542,
       89.16058781, 42.16134338, 15.74755792, 56.74468115, 69.65716622,
       79.02484517, 56.50780917, 78.36986878, 89.97863216, 59.06373801,
       99.37256594, 82.15341886,  5.79085006, 69.66101999, 56.0470696 ,
       89.00596873, 44.1912946 , 64.39020365, 17.0785129 , 94.5031564 ,
       35.37971517, 64.89107062, 49.55871585, 20.54175219, 48.87570637,
       77.82609105, 42.52816978, 61.13387861, 12.78244945, 71.75473327,
       91.23094109, 44.79976378, 17.4579934 , 67.2981866 , 37.01348228,
       36.40877417, 92.7475346 ,  9.72854783, 21.09771172, 75.28159639,
       52.91590677, 33.81129512, 38.33778872, 97.36945963, 52.42769092,
        6.89264767, 43.83415342, 77.27640119, 52.73437686, 56.78884701,
       60.79251038, 81.30096335, 73.48883669, 20.30780071, 36.57579796,
       65.33017727, 58.951731  , 22.68858376, 47.3335808 , 91.43908654,
       14.16304829, 66.9679748 , 62.58407009, 28.87399752, 16.48922022,
       48.66197358, 79.93865695, 28.10694242, 52.83201353, 62.98330803,
        5.81950952, 87.88782331, 59.92019005, 94.4851895 , 17.34130834,
       45.15234263, 15.71870935, 17.19990702, 48.57350783, 92.35144507,
       98.67012327, 53.86745251, 28.48551329, 23.61315327, 52.15484728,
        9.21454823, 22.83113563, 43.61197048, 66.61493206, 99.24168391,
       62.84469774,  5.04411924, 57.02525007, 85.55267594, 66.27095681,
       97.39743   ,  2.96974322, 63.2423517 , 98.67504806, 76.33803488,
       76.54053075, 89.47528259,  8.47267295, 43.72713004, 19.67833435,
       60.73179538, 70.49656451, 60.68831491, 84.38778191, 33.94401301,
       32.70954935, 38.03735531, 80.0806261 , 44.79595267, 18.14763844,
       79.51370417, 34.55010921,  6.14927536, 26.07790837, 78.32778748,
       97.97321689, 43.62305149, 72.5494817 , 65.70544778, 53.32473924,
       79.25082572, 10.78412272, 64.30334808, 38.89013564,  5.83025376,
       49.22870916,  6.21732636, 85.2748048 , 91.73084576, 85.54159644,
       14.96951382, 95.17217117, 19.68720762, 58.75838954,  1.5009552 ,
       26.18069281, 98.97548742, 77.19292779,  6.16020042, 47.88025625,
       11.39519498, 82.14694358, 83.73144727, 96.94835571, 64.90730011,
       61.90637974, 91.76010228, 85.99896614, 61.57040407, 30.78282403,
       32.38817579, 75.88848573, 84.59355847, 53.81426446, 97.5906833 ,
       42.74679098, 90.62463193, 13.68288686, 47.89614102, 54.03262331,
       87.88676201, 21.03575937, 54.08271261, 72.7687173 , 95.12763095,
       95.16335406, 16.35151809, 37.47887351, 56.64789459, 78.35058561,
       35.36416796, 59.40439325, 27.05962219, 88.11947128, 98.51830305,
        3.3275658 , 34.91021512, 26.79725382, 55.08602005, 36.85006879,
       96.13148663, 66.38706227, 48.05441075, 19.84424639, 11.30229278,
       83.93865515, 35.97374138, 48.76733855, 35.73024251, 15.28357439,
       57.77403465, 39.93162735, 14.59000934,  1.61136028, 62.73130612,
       51.20425248, 74.30619418,  3.09674038, 29.07918523, 62.14148935,
       72.59233786, 17.01165065, 73.49283058, 72.61212337, 48.40540271,
       86.01476215,  3.01420976, 88.26827896, 23.59032743,  6.79233175,
       32.39147408, 16.12174514, 39.04073006, 51.61063493, 32.33685553,
        8.19627342, 21.82115535, 17.87300943, 79.65935719, 80.86332315,
       69.91328989, 13.21777737, 40.48611894, 35.76615114,  3.88757792,
        8.52304308, 90.88608462, 16.15518595,  5.96922916,  6.21375733,
       40.82371237, 94.64847905, 86.38219974, 37.27904068, 77.28565176,
       73.23419872, 84.04435418, 24.3738264 , 26.8124951 , 90.7868716 ,
       95.19655493, 12.32158405, 39.42994161, 17.95230536, 30.86070807,
        9.8406502 , 44.09297945,  5.10159968, 39.88423914,  2.04838315,
        3.42058317, 82.54596526,  7.53533283, 38.29916637, 72.82067808,
       83.90946233, 78.54438332, 32.09868248,  4.4561315 , 20.0209643 ,
       61.42139375, 15.14866016, 88.38389715, 79.88852438, 62.65003587,
       27.63336421, 23.10011821, 55.30568614, 82.24941236, 96.28946333,
       52.87326032, 57.28048164, 88.30643137, 32.80085367, 57.81824633,
       19.96633413, 48.73175797, 67.3763995 , 86.17066517, 45.14915333,
       83.03087324, 24.09839957,  3.95836442, 69.39243965, 73.85471945,
       89.88357643, 27.93238292, 20.67583148, 99.61395268, 76.07434717,
       35.76277031, 70.00520982, 41.14439506, 37.74252328, 99.50755947,
       99.69516666, 93.51956529, 47.41299606, 97.53261067, 55.88495312,
       85.98167699, 68.08412265, 69.86865798, 84.18995594, 98.60569007,
       85.20645889, 15.44238758, 53.8328589 , 14.9866927 , 13.23438023,
       38.84548491, 21.31270594, 55.90957039, 52.62412812, 86.46559965,
       30.82581766,  1.44941369, 29.30246373, 81.86333126, 76.81126515,
       95.48899512, 71.83247306, 89.17551757,  7.23491109, 58.03423452,
       22.83896047, 14.20836102, 83.32217561, 86.0359081 , 87.44775151,
       35.81983091, 33.76478624, 34.66278113, 66.8992998 , 70.18186068,
       74.21676767, 78.53120802, 88.07129661, 64.87152257, 60.94750631,
       81.46237672, 34.09287981, 81.52932536, 46.72966464, 16.25837762,
       58.17022805, 95.44495945, 39.9325715 , 18.53724641, 92.27173161,
       88.60300811, 39.34387283, 11.71205374, 72.68335624, 53.30677438,
       21.58616922, 92.17615802, 18.78149618, 34.9795401 , 58.7519794 ,
       61.10430539, 30.76885579, 99.91508194, 22.08492796, 68.05575174,
       11.18164707, 29.87961767, 96.54480575, 15.67182345,  5.1814276 ,
       82.63533332,  5.40321952, 38.44317996, 78.57977022, 41.28606845,
       21.58594961, 38.15712483, 58.64183677, 46.01378005, 85.96521627,
       36.94614196, 28.81293105, 74.78568464, 15.56825303, 67.22744938,
       45.44470193, 95.61600429, 28.10978558, 80.72608377, 71.30251355,
       30.10581851, 32.54624079, 21.56802964, 95.20769992, 47.27471519,
       66.44705815, 75.32226865, 17.07918624, 11.07267896, 65.67225522,
       79.54528088, 71.63931664, 71.45188596, 96.98528969, 40.40582905,
       66.23475827, 53.98400939, 46.54400388, 64.33011601, 19.05928463,
       37.15234597, 52.51242024, 31.29295027, 67.65035061, 31.52084772,
       28.7078493 , 52.85956945, 10.90903767,  6.71637827, 97.01449788,
       52.52721405, 98.51341886, 37.59322694, 86.40081059, 65.68654559,
       36.39970454, 33.66794685,  1.5371003 , 76.99314881,  5.1572344 ,
       69.77976759,  7.18680775, 47.11263905, 85.27274778, 90.16611236,
       32.66630236, 26.63602711, 99.9957228 , 40.77518258, 19.64961034,
       55.82075057, 77.42978392, 13.41262079, 94.39511224, 83.78351449,
       39.98694488, 43.20278303, 10.14947897, 11.36685917, 19.96387037,
       33.56394678, 49.79446104, 38.02262749, 20.04131425, 51.6484567 ,
       65.77748455, 17.09440305, 69.46498053, 36.80432075, 39.46425028,
       10.44839723, 52.65607998, 87.38427663, 31.96002584, 91.52765888,
       38.95758728, 33.88187945,  5.8659531 ,  1.78424562, 63.47747847,
       22.07824962, 87.18910458,  3.69092984, 48.31095294, 71.90065949,
       17.87586414, 34.23932684,  2.91171963, 26.27399462, 62.73134228,
       49.38862167,  4.46493247, 50.78758974, 18.84956702, 51.06864609,
       93.69939014, 63.03091403, 51.75440113, 19.2498798 , 26.70410688,
       95.01030452, 29.79694479, 94.17212306, 28.69293334, 51.69423054,
       66.80914981, 58.75750193, 44.95506582,  8.34679509, 74.73783693,
       74.40922575, 17.29272019, 14.92957586, 94.49332798, 51.57588812,
       55.24469701, 53.51332478, 49.09067756, 95.38473076, 74.72603886,
       37.29833493, 33.09031485, 82.66410472, 14.66418723, 99.80885   ,
       79.24310385, 13.87390982, 72.17831952,  4.01889318, 92.62888222,
       22.55648383, 37.96085361, 75.44950064,  1.3257377 , 33.35452752,
       33.67275769, 50.09972932, 64.11633772,  8.45414365, 82.13579042,
       26.20885078, 38.55969968, 89.4904832 , 89.19002832, 57.10584128,
       31.71641514, 97.63207392, 69.07354911, 58.78974623, 23.15280305,
       56.05463961, 32.61297214, 83.43755653, 11.64160002, 85.38124692,
       28.10870114,  7.53431611, 34.87026926, 30.74100222, 62.43769158,
       63.68694801, 82.73223119, 39.84400424, 17.12487449, 19.376903  ,
       79.1281249 ,  5.17388684, 54.36094979, 17.98824214,  6.26735636,
       20.56041967, 71.39071563, 92.47287131, 42.70711366, 98.10166159,
       25.33177379, 90.98046851, 76.99860044, 17.0513592 , 21.18544543,
        9.4548785 , 26.07330465, 87.51963201, 56.56466396, 84.16995079,
       79.92547405, 80.84719916,  6.62069221, 19.90552141, 99.01616107,
       68.92855487, 81.97830632, 93.29811595, 98.28887388, 83.17723014,
       72.39691122, 89.2526037 , 19.76174756, 78.13345038, 65.06307548,
       68.34575953, 77.04350224, 32.88011587, 76.83860242, 83.10074985,
       65.63563685, 86.18851339, 87.15200346, 30.17867547, 94.36605464,
       88.28370284, 93.85554458, 42.752021  , 57.6023902 , 25.86653251,
       92.09705145, 28.84614861, 24.91571627, 74.71639544, 73.19766329,
       66.97663284, 97.62994963, 49.60010829, 40.15793588, 94.38827471,
       46.59594074, 29.14921995, 88.02636608, 97.95182634, 60.94374366,
       70.61878401, 97.41667717, 37.78799914, 33.63296567, 65.34817278,
        7.95736995, 59.56064416, 19.67934854,  3.0726079 , 96.29300858,
       24.76269145, 91.15829628, 99.02084055, 46.15648266, 30.15435264,
       18.6028729 , 80.96870823,  9.93660699, 31.66056066, 33.84939215,
       86.7753944 , 90.80339185, 16.25563094, 59.99191751, 37.0637716 ,
       92.2695863 , 72.21977246, 91.62245937, 72.23965123, 19.63925871,
       22.81087885,  2.93222746, 69.7257712 , 89.10285824, 20.32095202,
       12.64767272, 73.11881149, 89.93662142, 19.85371832, 70.11555149,
       78.72398818, 86.30976696, 12.05354635, 67.25937664, 50.41321376,
        2.3789925 ,  5.2716536 , 95.34236779, 45.10152037, 55.50076923,
       45.516102  , 15.03464212, 65.90029177, 72.73483974, 34.80986858,
       24.44313104, 58.30748053, 81.73762817, 43.6650017 , 40.08384209,
       23.06320598, 81.19927763, 80.23619182, 29.38831629, 77.72189808,
       44.76031619, 64.06123394, 63.56977963, 34.14170938, 15.32029729,
       93.95931032, 34.5463649 , 27.63460753, 12.94336864, 34.10545044,
       53.1074365 , 71.45867693, 96.54736238, 42.68096294,  3.50808234,
       34.4130969 , 31.24897726, 33.70439886, 53.09501214, 62.52698918,
       45.92940671, 68.38389997, 91.47623105,  4.23851334, 99.57737653,
       94.27672061, 43.4152281 , 37.12895228, 62.30473499, 52.76482044,
       98.33032761, 76.09187956, 20.37384062, 49.03157055, 18.6121269 ,
       43.74906908, 25.02297293, 63.26732524,  6.24286825, 27.27317518,
       52.9549455 , 30.36586566,  7.82174928, 30.99478171, 34.5053977 ,
       75.69465523, 28.25424251, 88.25816663,  3.56427744, 37.72135019,
       57.93329887, 30.48820259, 74.23280873, 47.2253078 , 18.0238794 ,
       83.62987327,  1.73933348, 32.9576172 ,  3.13113802, 65.84861803,
       72.16596426, 32.27208347, 10.8247953 , 76.58193626,  7.44972576,
       45.17037674, 69.43121643, 29.47415495, 11.35516004,  8.31116586,
        2.19088758, 94.5019971 , 54.26925159, 33.48218972, 24.03421221,
       16.13073762, 58.94257657, 76.27557722, 49.21346267, 15.27766094,
       85.38487316, 94.5899593 , 44.48202804, 93.47749861, 76.69636449,
       12.04031334, 27.21807462, 12.16995718, 82.86260404, 98.56027151,
       31.75041992, 28.33204092, 66.30179136, 83.66625908, 46.84733244,
       52.81659703, 86.26705853, 60.50952625, 87.458396  , 23.19271402,
       36.97069884, 27.1321366 , 56.78732911, 75.68452591, 86.9371298 ,
       63.94033361,  9.51401749, 85.12442556, 71.66194489, 12.44043427,
       29.77595708, 88.21672679, 90.29813104, 37.17321552, 40.22421878,
       78.55665793, 82.33320062,  4.23121403, 16.68486461, 70.46933871,
       39.56215562, 15.49770341, 54.08129938,  6.45456207, 28.55370514,
       43.30212076, 68.97845384, 52.9118392 , 57.49097215,  8.68379252,
       63.33128954, 53.72195504, 86.22752332, 33.79243701, 14.57813679,
       95.83699447, 99.54362972, 87.47121243, 76.22617643, 37.92799675])

# Math Operations
## 1.1 Operations in columns

In [67]:
# select a column and calculate total sum
df_exams['math score'].sum()

66089

In [72]:
# count, mean, std, max and min
df_exams['math score'].count()
df_exams['math score'].mean()
df_exams['math score'].std()
df_exams['math score'].min()
df_exams['math score'].max()

100

In [73]:
# easier calculation with .describe()
df_exams.describe()

       math score  reading score  writing score  language score
count  1000.00000    1000.000000    1000.000000      1000.00000
mean     66.08900      69.169000      68.054000        49.77600
std      15.16308      14.600192      15.195657        27.52216
min       0.00000      17.000000      10.000000         1.00000
25%      57.00000      59.000000      57.750000        27.75000
50%      66.00000      70.000000      69.000000        50.00000
75%      77.00000      79.000000      79.000000        72.00000
max     100.00000     100.000000     100.000000        99.00000

## 1.2 Operations in rows

In [74]:
# calculating the sum in a row
df_exams['math score'] + df_exams['reading score'] + df_exams['writing score']

0      218
1      247
2      278
3      148
4      229
      ...
995    282
996    172
997    195
998    223
999    249
Length: 1000, dtype: int64

In [75]:
# calculating the average score and assigning the result to a new column
df_exams['average'] = (df_exams['math score'] + df_exams['reading score'] + df_exams['writing score'])/3

In [ ]:
# showing the dataframe

In [78]:
df_exams.round(2)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,language score,average
0,female,group B,bachelor's degree,standard,none,72,72,74,13,72.67
1,female,group C,some college,standard,completed,69,90,88,35,82.33
2,female,group B,master's degree,standard,none,90,95,93,56,92.67
3,male,group A,associate's degree,free/reduced,none,47,57,44,80,49.33
4,male,group C,some college,standard,none,76,78,75,56,76.33
...,...,...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95,34,94.00
996,male,group C,high school,free/reduced,none,62,55,55,35,57.33
997,female,group C,high school,free/reduced,completed,59,71,65,42,65.00
998,female,group D,some college,standard,completed,68,78,77,41,74.33
999,female,group D,some college,free/reduced,none,77,86,86,92,83.00

# 1 Value Counts

In [79]:
# Counting gender elements

#len function
len(df_exams['gender'])

# .count() method
df_exams['gender'].count()

1000

In [80]:
# Counting gender elements by category
df_exams['gender'].value_counts()

female    518
male      482
Name: gender, dtype: int64

In [81]:
# return the relative frequency (divide all values by the sum of values)
df_exams['gender'].value_counts(normalize=True)

female    0.518
male      0.482
Name: gender, dtype: float64

In [82]:
# counting "parental level of education" elements by category
df_exams['parental level of education'].value_counts()

some college          226
associate's degree    222
high school           196
some high school      179
bachelor's degree     118
master's degree        59
Name: parental level of education, dtype: int64

In [84]:
df_exams['parental level of education'].value_counts(normalize=True).round(2)

some college          0.23
associate's degree    0.22
high school           0.20
some high school      0.18
bachelor's degree     0.12
master's degree       0.06
Name: parental level of education, dtype: float64