# Hello World

In [8]:
# printing my first message
print("Hello wolrd!")

Hello wolrd!

# Data types

In [13]:
type({1,2,3})

set

In [19]:
print("Hello World".upper())
print("Hello World".lower())
print("Hello World".title())
print("Hello World".count('l'))

HELLO WORLD
hello world
Hello World
3

# Variables

In [20]:
message_1 = "I'm learning python!"

In [21]:
message_1

"I'm learning python!"

In [22]:
message_2 = "and its fine"

In [23]:
message_2

'and its fine'

In [25]:
message_1 + ' ' + message_2

"I'm learning python! and its fine"

In [26]:
f'Hello World!'

'Hello World!'

In [27]:
f'{message_1}'

"I'm learning python!"

In [28]:
f'{message_1} {message_2}'

"I'm learning python! and its fine"

In [29]:
f'{message_1} random text {message_2}'

"I'm learning python! random text and its fine"

# Lists

In [3]:
# lists can have elements of different types and duplicated elements
countries = ['United States', 'India', 'China', 'Brazil', 'United States']

In [4]:
countries

['United States', 'India', 'China', 'Brazil', 'United States']

In [48]:
countries = ['United States', 'India', 'China', 'Brazil']

In [40]:
# each item has an index, and is zero-based index
countries[0]

'United States'

In [41]:
print(countries[0])
print(countries[1])
print(countries[2])
print(countries[3])

United States
India
China
Brazil

In [44]:
print(countries[0])
print(countries[1])
print(countries[2])
print(countries[3])
print(countries[4])

United States
India
China
Brazil

IndexError: list index out of range

In [45]:
print(countries[-1])

Brazil

In [50]:
# slicing. Subsets of a list elements
#list_name[start:stop] stop not included
countries[1:3]

['India', 'China']

In [52]:
countries[:2]

['United States', 'India']

## Adding elements to a list

In [53]:
countries

['United States', 'India', 'China', 'Brazil']

In [54]:
countries.append('Chile')

In [55]:
countries

['United States', 'India', 'China', 'Brazil', 'Chile']

In [56]:
countries.insert(1,'Spain')

In [57]:
countries

['United States', 'Spain', 'India', 'China', 'Brazil', 'Chile']

In [58]:
countries_2 = ['UK', 'Rusia', 'Belgium']

In [59]:
countries + countries_2

['United States',
 'Spain',
 'India',
 'China',
 'Brazil',
 'Chile',
 'UK',
 'Rusia',
 'Belgium']

In [60]:
nested_list = [countries, countries_2]

In [61]:
nested_list

[['United States', 'Spain', 'India', 'China', 'Brazil', 'Chile'],
 ['UK', 'Rusia', 'Belgium']]

## Removing elements from a list

In [5]:
countries

['United States', 'India', 'China', 'Brazil', 'United States']

In [6]:
countries.pop(-1)

'United States'

In [7]:
countries

['United States', 'India', 'China', 'Brazil']

del countries[0]

In [9]:
countries

['India', 'China', 'Brazil']

## Sorting a list

In [11]:
numbers = [0,4,2,6,7,23,98,4,12,3,1,0,34]

In [14]:
numbers.sort()

In [15]:
numbers

[0, 0, 1, 2, 3, 4, 4, 6, 7, 12, 23, 34, 98]

In [17]:
numbers.sort(reverse=True)

In [18]:
numbers

[98, 34, 23, 12, 7, 6, 4, 4, 3, 2, 1, 0, 0]

## Update a list element

In [19]:
numbers[0] = 100

In [20]:
numbers

[100, 34, 23, 12, 7, 6, 4, 4, 3, 2, 1, 0, 0]

## Copying a list

In [23]:
#if no start and end specified, it means the whole list
new_list = countries[:]

In [24]:
new_list

['India', 'China', 'Brazil']

In [26]:
new_list_2 = countries.copy()

In [27]:
new_list_2

['India', 'China', 'Brazil']

# Dictionary

In [28]:
my_dict = {'key1':'value1', 'key2':'value2'}

In [31]:
my_data = {'name':'Frank', 'age':26}

In [32]:
my_data

{'name': 'Frank', 'age': 26}

In [33]:
my_data.keys()

dict_keys(['name', 'age'])

In [34]:
my_data.values()

dict_values(['Frank', 26])

In [36]:
my_data.items()

dict_items([('name', 'Frank'), ('age', 26)])

## Adding another pair of key-value

In [37]:
my_data['height'] = 1.7

In [38]:
my_data

{'name': 'Frank', 'age': 26, 'height': 1.7}

## Updating dictionary

In [39]:
my_data.update({'height':1.8})

In [40]:
my_data

{'name': 'Frank', 'age': 26, 'height': 1.8}

## Copying dictionary

In [41]:
new_dict = my_data.copy()

In [42]:
new_dict

{'name': 'Frank', 'age': 26, 'height': 1.8}

## Remove elements from dictionaries

In [43]:
my_data

{'name': 'Frank', 'age': 26, 'height': 1.8}

In [44]:
my_data.pop('name')

'Frank'

In [45]:
my_data

{'age': 26, 'height': 1.8}

In [46]:
del my_data['height']

In [47]:
my_data

{'age': 26}

In [48]:
my_data.clear()

In [49]:
my_data

{}

# IF Statement

In [ ]:
if <condition>
    <code>
elif <condition>
    <code>
...
else:
    <code>

In [52]:
age = 18

if age >= 18:
    print("You are an adult!")
else:
    print("You are a kid")

You are an adult!

# For loop

In [ ]:
for <variable> in <iterable>
    <code>

In [53]:
countries

['India', 'China', 'Brazil']

In [54]:
for country in countries:
    print(country)

India
China
Brazil

In [57]:
for i, country in enumerate(countries):
    print(str(i) + ': ' + country)

0: India
1: China
2: Brazil

In [58]:
my_data

{}

In [61]:
my_data = {'key1':'value1', 'key2':'value2', 'key3':'value3'}

In [62]:
my_data

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}

In [63]:
for key, value in my_data.items():
    print(key)
    print(value)

key1
value1
key2
value2
key3
value3

# Function

In [ ]:
def function(<params>):
    <code>
    return <data>

In [64]:
def sum_values(a, b):
    x = a + b
    return x

In [65]:
sum_values(1, 3)

4

# Built-in functions

In [66]:
len(countries)

3

In [67]:
max([10, 34, 56, 3, 2, 5, 6, 45, 90, 0, 32])

90

In [68]:
min([10, 34, 56, 3, 2, 5, 6, 45, 90, 0, 32])

0

In [69]:
type(countries)

list

In [74]:
for i in range(1, 10, 2):
    print(i)

1
3
5
7
9

# Modules

In [ ]:
import

# OS Module

In [75]:
import os

In [76]:
os.getcwd()

'C:\\Users\\U2301020\\anaconda3\\cursos\\Data-Analysis-with-Python-for-Excel-Users'

In [77]:
os.listdir()

['.git', '.ipynb_checkpoints', 'Example.ipynb', 'LICENSE']

### os.mkdir

# Pandas

### Best tool for data analysis in python
Clean data, representation... like excel extends... bu outperform excel. Benefits:

-Limitation by size

-Complex data transformation

-Automation

-Crossplatform capabilities

In [78]:
import pandas as pd
import numpy as np

In [80]:
# creating an array
data = np.array([[1,4], [2,5], [3,6]])

In [85]:
# creating a dataframe
df = pd.DataFrame(data, index=['row1', 'row2', 'row3'], 
             columns=['col1', 'col2'])

In [86]:
# showing the dataframe
df

      col1  col2
row1     1     4
row2     2     5
row3     3     6

# Option 2

In [87]:
# creating an array
data = [[1,4], [2,5], [3,6]]

In [88]:
# creating a dataframe
df = pd.DataFrame(data, index=['row1', 'row2', 'row3'], 
             columns=['col1', 'col2'])

In [89]:
# showing the dataframe
df

      col1  col2
row1     1     4
row2     2     5
row3     3     6

# Creating a DataFrame from a dictionary

In [90]:
# lists used for this example
states = ['California', 'Texas', 'California', 'New York']
population = [39613493, 29730311, 21944577, 19299981]

In [96]:
# sorting lists within dictionary
dict_states = {'States':states, 'Population':population}

In [98]:
# Creating the dataframe
df_population = pd.DataFrame(dict_states)

In [99]:
# showing the dataframe
df_population

       States  Population
0  California    39613493
1       Texas    29730311
2  California    21944577
3    New York    19299981

# Creating a dataframe from csv file

In [100]:
# reading csv file
df_exams = pd.read_csv('StudentsPerformance.csv')

In [101]:
# show first 5 rows in dataframe
df_exams.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75